<mat-card>
  <mat-card-title>Bonus Question ­ The sound of music</mat-card-title>
  <mat-card-content>
    <pre>
      Sally Salamander is going to the ‘Big Weekend Out” music festival, and has a long list of
      acts she wants to see. Unfortunately, many of these acts overlap.

      In order to determine where to be at what time, Sally has taken the list of events published
      on the Big Weekend website and added a priority to each from 1­to­10 (from least to most
      important).

      Performance
        Band:String
        Start:DateTime
        Finish:DateTime
        Priority:Integer

      Given an array of Performance records, calculate the optimal schedule. Keep in mind Sally wants
      to be seeing the best performance on at any given time on a minute by minute basis ­This may
      mean cutting one event short to see a higher priority performance, then returning to the original
      later. If two performances have the same priority, you may pick either. There may also be gaps
      where no performances are on.
    </pre>
  </mat-card-content>
</mat-card>
<mat-card>
  <button mat-raised-button color="primary" (click)="getBonusAnswer()">Go!</button>
  <mat-spinner *ngIf="loading" style="margin:0 auto;"></mat-spinner>
</mat-card>
<mat-card>
      <p *ngFor="let timeslot of schedule">
        {{ timeslot.window }} - {{ timeslot.band }}
      </p>
</mat-card>
