<mat-card>
  <mat-card-title>Question 4 ­ Github API </mat-card-title>
  <mat-card-content>
    <pre>
      Create a simple web app with a live search field that filters users from the Github Users API
      and then lists those users in a table.

      (Github API Doc : https://developer.github.com/v3/search/#search­users)

      When a user enters at least 3 characters into the text field, make an API request to the
      github endpoint, parse the resulting JSON and display the following three pieces of data for
      the first hundred user items.

      ­ avatar_url : The Github user avatar (rendered as an image)
      ­ login: The username of the github user
      ­ type: The type of user.
      ­ score: A decimal value representing the accuracy of the result against the search term.

      When an active HTTP request is in progress, place a progress indicator anywhere on the
      page to indicate network activity.

      Once the search is performed, clearing the input should also clear the list of users displayed
      before.

      NOTE: The Github API is rate limited. Performing too many requests too quickly will end with
      the user's API requests being blocked for a short period of time.
  </pre>
  </mat-card-content>
</mat-card>
<mat-card>
    <form [formGroup]="userForm">
          <mat-form-field style="width: 100%;">
            <input matInput [errorStateMatcher]="matcher" placeholder="Username"
              formControlName="userName" class="form-control" required>
            <mat-hint>Enter a username to search github</mat-hint>
            <mat-error *ngIf="userForm.get('userName').invalid">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
    </form>
    <mat-spinner *ngIf="loading" style="margin:0 auto;"></mat-spinner>
</mat-card>
<mat-card>
  <div *ngIf="rateLimited">
    You're rate limited, chill.
  </div>
    <div *ngIf="users?.filteredData.length > 0" class="table-container mat-elevation-z8">
      <table mat-table #table [dataSource]="users">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <ng-container matColumnDef="avatar_url">
          <th mat-header-cell *matHeaderCellDef> avatar </th>
          <td mat-cell *matCellDef="let user"> {{user.avatar_url}} </td>
        </ng-container>

        <ng-container matColumnDef="login">
          <th mat-header-cell *matHeaderCellDef> login </th>
          <td mat-cell *matCellDef="let user"> {{user.login}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> type </th>
          <td mat-cell *matCellDef="let user"> {{user.type}} </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> score </th>
          <td mat-cell *matCellDef="let user"> {{user.score}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</mat-card>
