<mat-card>
  <mat-card-title>Question 2 ­ An SQL Query walks into a bar... </mat-card-title>
  <mat-card-content>
    <pre>
      Given the following class definitions

      /** Represents a row in the “OrderProduct” table.
        * Provides a Many<­>Many join between Orders and Products */
      class OrderProduct "{{ '{' }}"
        public int OrderId;
        public int ProductId;
        public String Name;  // Description of this item
        public float Price;
      }

      /** Represents a Product */
      class Product "{{ '{' }}"
        public int ProductId;
        public String Name;
        public float Price;
      }

      These two classes represent database tables of the same name.

      Assuming a standard SQL Database

      ● Write a function that takes an Array of “OrderProducts” and populates the “Name”
      and “Price” fields on each OrderProduct with the relevant Product “Name” and “Price”
      field from the Product table.
      ● Your function must be able to handle up to 100 records at a time.
      ● The database server is connected via a high latency connection, so to optimize
      performance you should minimize the number of queries you perform
  </pre>
  </mat-card-content>
</mat-card>
<mat-card>
  <button mat-raised-button color="primary" (click)="getAnswer2()">Go!</button>
  <mat-spinner *ngIf="loading" style="margin:0 auto;"></mat-spinner>
  <table *ngIf="joinedOrderProducts?.length > 0">
    <tr>
      <th>OrderId</th>
      <th>ProductId</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let joinedOrderProduct of joinedOrderProducts">
      <th> {{ joinedOrderProduct.orderId }} </th>
      <th> {{ joinedOrderProduct.productId }} </th>
      <th> {{ joinedOrderProduct.name }} </th>
      <th> {{ joinedOrderProduct.price }} </th>
    </tr>
  </table>
</mat-card>
