<header>
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/question1" routerLinkActive="active">Question 1</button>
      <button mat-menu-item routerLink="/question2" routerLinkActive="active">Question 2</button>
      <button mat-menu-item routerLink="/question4" routerLinkActive="active">Question 4</button>
      <button mat-menu-item routerLink="/bonusquestion" routerLinkActive="active">Bonus Question</button>
    </mat-menu>
    Skedulo Tech Homework - Nick Mouton
  </mat-toolbar>
</header>
<section class="container">
  <router-outlet></router-outlet>
</section>
<footer></footer>
