<mat-card>
  <mat-card-title>Question 1 ­ Walk in the park</mat-card-title>
  <mat-card-subtitle>Write a function that prints every number from 1 to 100 except</mat-card-subtitle>
  <mat-card-content>
    <ul>
      <li>For every number divisible by 4, print “Hello” instead</li>
      <li>For every number divisible by 5, print “World” instead</li>
      <li>If a number is divisible by both, print “HelloWorld” instead</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <button mat-raised-button color="primary" (click)="getAnswer1()">Go!</button>
  <mat-spinner *ngIf="loading" style="margin:0 auto;"></mat-spinner>
    <ul>
      <li *ngFor="let number of numbers">
        {{ number }}
      </li>
    </ul>
</mat-card>
